<footer class="page-footer light-blue accent-3" style="bottom: 0;">
    <center>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Syed Mustafa Imam & Elliott Joseph 

            </div>
        </div>
    </center>
</footer>